* {
    margin: 0;
    padding: 0;
}

.watch-header {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    
     padding: 1.5rem 0;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

a {
    position: relative;
    text-decoration: none;
    color: white;
}

a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
    transform: translateX(-50%);
}

a:hover::after {
    width: 100%;
}


.div {
    display: flex;
    gap: 40px;
}


.button {
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: 2px solid #ffffff;
}

.button:hover {
    background-color: #0e0d0d;
    color: #222;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.button:hover svg {
    fill: #222;
}

.button svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
}

.button:hover svg {
    animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotatey(360deg);
    }
}

body {
    font-family: "Roboto", sans-serif;
}

.hero-content {
    padding: 0 40px;
    font-size: 20px;

    font-weight: 400;

}


.text {
    margin-left: 400px;
    margin-top: 40px;
    font-size: 50px;
    width: 80%;

}

.hero-content h1 {
    font-size: 140px;
}




.button2 {
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: 2px solid #ffffff;
    margin-left: 800px;
}

.button2:hover {
    background-color: #0e0d0d;
    color: #222;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.button2:hover svg {
    fill: #222;
}

.button2 svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
}

.button2:hover svg {
    animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotatey(360deg);
    }
}







.button3 {
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    border: 2px solid #ffffff;
    margin-left: 25px;
}

.button3:hover {
    background-color: #0e0d0d;
    color: #222;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.button3:hover svg {
    fill: #222;
}

.button3 svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
}

.button3:hover svg {
    animation: spin_357 0.5s linear;
}

@keyframes spin_357 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotatey(360deg);
    }
}



.hero2 {
    margin: auto;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 240, 243);
    border-radius: 15px;
}

.wrire h1 {
    text-align: center;
    font-size: 25px;
}

.wrire {
    padding: 0 50px;
    text-align: start;
}
.wrire p {
    text-align: center;
}



.hero-content1 {
    padding: 0 40px;
    font-size: 20px;
    margin-left: 160px;
    font-weight: 400;

}


.text1 {
    margin-left: 400px;
    margin-top: 60px;
    font-size: 50px;
    width: 80%;
    color: gray;
}

.hero-content1 h1 {
    font-size: 120px;
}
